<% if current_project.description? %>
<div class="notice info">
	<p>Project Description: <%= current_project.description %></p>
</div>
<% end %>

<%= milestones_calendar %>

<% if @stories.present? %>
<div class="box_top">
	<h2>My Stories</h2>
</div>
<div class="box_content">
	<%= render :partial => 'stories/stories', :locals => {:hide_cols => [ :owner, :project ]} %>
</div>
<% end %>

<% if @tasks.present? %>
<div class="box_top">
	<h2>My Tasks</h2>
</div>
<div class="box_content">
	<%= render :partial => 'tasks/tasks', :locals => {:hide_cols => [ :project, :owner ]} %>
</div>
<% end %>