<!-- BEGIN milestones/edit.rhtml -->
<%= form_tag(:controller => 'milestones', :action => 'update',
                   :id => @milestone.id, :project_id => @project.id) %>
<%= render_partial('milestone_form', :milestone => @milestone) %>
</form>
<!-- END milestones/edit.rhtml -->

