<!-- BEGIN milestones/edit.rhtml -->
<%= form_tag(:controller => 'milestones', :action => 'update',
                   :id => @object.id, :project_id => @project.id) %>
<%= render :partial => 'milestone_form' %>
</form>
<!-- END milestones/edit.rhtml -->

