<div class="notice info">
	<p>Milestones are generic calendar events. Recent Milestones will appear on team members dashboard.</p>
</div>
<div class="grid_12 milestone_list">
	<div class="box_top">
		<h2>Future Milestones</h2>
		<ul class="sorting">
			<li><%= link_to_new_milestone %></li>
		</ul>
	</div>
	<%= milestone_list_for @future, "future_milestones" %>
</div>

<div class="grid_12 milestone_list">
	<div class="box_top">
		<h2>Recent Milestones</h2>
		<ul class="sorting">
			<li><%= link_to_show_all_milestones %></li>
		</ul>
	</div>
	<%= milestone_list_for @recent, "past_milestones" %>
</div>