<div>
	<h2>Milestones</h2>
	<p> Milestones are generic calendar events. </p>
	<p> Recent Milestones will appear on team members dashboard.</p>
	<strong><%= link_to_new_milestone %></strong>
</div>
<div>
	<div class="milestone_list">
		<h3>Future Milestones</h3>
		<%= milestone_list_for @future, "future_milestones" %>
	</div>
	<div class="milestone_list">
		<h3>Recent Milestones <small>(<%= link_to_show_all_milestones %>)</small></h3>
		<%= milestone_list_for @recent, "past_milestones" %>
	</div>
</div>