<!-- BEGIN milestones/new.rhtml -->
<%= form_tag(:controller => 'milestones', :action => 'create',
                   :project_id => @project.id) %>
<%= render :partial => 'milestone_form' %>
</form>
<!-- END milestones/new.rhtml -->
