<!-- BEGIN milestones/show.rhtml -->
<h2><%= @project.name %></h2>
<h3><%= @object.name %></h3>
<p><strong><%= long_date(@object.date) %></strong></p>
<%= textilize(@object.description) %>
<p>
<%= link_to('Edit Milestone', :action => 'edit', :id => @object.id, :project_id => @project.id) %>
&nbsp;&nbsp;&nbsp;
<a href="javascript:window.close();">Close Window</a>
</p>
<!-- END milestones/show.rhtml -->
