<% form_for :owner, :url => assign_project_story_task_path(@project, @task.story, @task) do |f| %>
  <a href="javascript:void(0);" onclick="cClick();">close</a>
  <% @users.each do |m| %>
    <%= f.radio_button :id, m.id %>
    <label style="display:inline"><%= m.first_name %>,<%= m.last_name %></label>
  <% end %>
  <%= submit_tag "Assign" %>
<% end %>
