<%= form_for :owner, :url => assign_project_story_task_path(@project, @task.story, @task) do |f| %>
	<% @users.each do |m| %>
		<%= f.radio_button :id, m.id %>
		<%= f.label :id, m.full_name, :value => m.id, :class => "inline" %>
		<br />
	<% end %>
	<div class="submit">
		<%= f.submit "Assign" %>
	</div>
<% end %>