<% hide_cols ||= [] %>
<table class="sort-table" width="100%" id="task-table" cellspacing="0" cellpadding="3" border="0">
  <thead>
    <tr>
      <% column_content_for(hide_cols, :project) do %><td>Project</td><% end %>
      <% column_content_for(hide_cols, :iteration) do %><td>Iteration</td><% end %>
      <% column_content_for(hide_cols, :story) do %><td>SCID</td><td>Story</td><% end %>
      <td>Task</td>
      <td>Description</td>
      <td>Complete</td>
      <% column_content_for(hide_cols, :owner) do %><td>Owner</td><% end %>
      <% column_content_for(hide_cols, :action) do %><td>Action</td><% end %>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => @tasks, :locals => { :hide_cols => hide_cols } %>
  </tbody>
</table>