a, a:visited {
  color: #338833;
  border-bottom-color: #449944;
}

.odd_row td {
  background-color: #FFFFCC;
  border-color: #FFFFFF;
}

.even_row td {
  background-color: #FFFFAA;
  border-color: #FFFFFF;
}

.odd_row:hover td,
.even_row:hover td {
  background-color: #DDDDFF;
}

div.contact_card {
  border-color: #CCCCCC;
}

div.contact_card h3 {
  background-color: #FFFF99;
}

div.contact_card h3.admin {
  background-image: url('/images/admin_dot.gif');
  background-position: right 3px;
  background-repeat: no-repeat;
}

.action_links a {
  color: #FF0000;
}

div.fieldWithErrors input, div.fieldWithErrors select {
  background-color: #FFDDDD;
  border-color: #FF0000;
}

table.calendar td {
  background-color: #FFFFCC;
  color: black;
  border-color: #FFFFFF;
}

table.calendar a {
  color: #0000FF;
}

table.calendar a:hover {
  background-color: #DDDDFF;
}

dt.project_header {
  background-color: #CCCCFF;
}

dt.project_header a:hover {
  color: #FF0000;
}

#topbar {
  color: #FFFFFF;
  background-color: #6dae20;
}

#topbar a, #topbar a:visited,
#topbar a:hover {
  color: #FFFFFF;
}

#Header {
  border-bottom-color: #6dae20;
}

#MyProjects, #UpcomingMilestones {
  background-color: #CCFFCC;
}

#MyProjects h2, #UpcomingMilestones h2 {
  color: #FFFFFF;
  background-color: #6dae20;
}

#SectionTitle {
  background-color: #dfdcd5;
  color: #908360;
}
#SectionTitle a {
  color: #908360;
}
#SectionMenu {
  background-color: #f0efed;
  color: #716e69;
}
#SectionMenu a {
  color: #716e69;
}
#SectionMenu a.current {
  color: #413f33;
}

#TopMenu a {
  color: #716e69;
}
#TopMenu a.current {
  color: #413f33;
  border-bottom-color: #716e69;
}

#SystemError {
  color: #990000;
  background-color: #FFCCCC;
  border-color: #FF0000;
}

#SystemStatus {
  color: #006600;
  background-color: #CCFFCC;
  border-color: #00FF00;
}

form fieldset {
  border:1px solid #716e69;
}

form fieldset legend {
  border:1px solid #716e69;
  color:#fff;
  background-color:#716e69;
}