body {
  display: block;
  margin: 0;
  padding: 0;
}

#Header {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100%;
  background-color: #AAAAAA;
}

#CurrentUserInfo {
  margin: 5px;
  padding: 0;
  float: right;
  height: 30px;
  text-align: right;
}

#Header h1 {
  margin: 0;
  padding: 5px;
  font-size: 30px;
}

#MyProjects {
  float: right;
  width: 15em;
  margin: 0 0 10px 10px;
  padding: 5px;
  background-color: #CCCCCC;
}
