body {
  display: block;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.1em;
}

#Header {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100%;
  background-color: #AAAAAA;
}

#CurrentUserInfo {
  margin: 5px;
  padding: 0;
  float: right;
  height: 30px;
  text-align: right;
}

#Header h1 {
  margin: 0;
  padding: 5px;
  font-size: 30px;
}

#MyProjects {
  float: right;
  width: 15em;
  margin: 0;
  padding: 5px;
  background-color: #CCCCCC;
}

#MyProjects h2 {
  text-align: center;
}

#MyProjects li a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0.25em 1em;
}

#MyProjects li a:hover {
  background-color: #EEEEEE;
}
