/** general styles **/
body { margin: 8px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.85em; }
strong { font-weight: bold; }
em { font-style: italic; }
h1, h2, h3, h4, th { font-weight: bold; }
h2 { font-size: 1.1em; }
h3 { font-weight: bold; }
th, td { padding: 2px 3px; vertical-align: top; }
textarea { overflow: auto; }
a, a:visited { text-decoration: none; color: #338833; border-bottom: 1px dotted #494; }
p { margin: 0.5em 0 1em; }
.odd_row td { background: #F0EFED; border: 1px solid #F0EFED; }
.even_row td { background: #DFDCD5; border: 1px solid #DFDCD5; }
.important { font-weight: bold; font-size: 110%; }
.clear { clear: both; }
.actions {width: 1%}
/** end general styles **/


/** header **/
#Header h1 { padding: 10px 15px; }
#Header h1 a { display: block; width: 208px; height: 56px; text-indent: -9999px; background: url(/images/logo2.png) 0 no-repeat; overflow: hidden; }
#Header a { border: none; }
#topbar { position: relative; padding: 5px 1em; font-size: 0.8em; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; color: #fff; background: #6dae20; }
#topbar a { color: #fff; }
#StatusRight { text-align: right; }
#StatusLeft { position: absolute; top: 3px; }
* html #StatusLeft { top: 0; }
*+html #StatusLeft { top: 0; }
#StatusLeft label { display: inline; }
#StatusLeft select { height: 15px; font-size: 10px; }
*+html #StatusLeft select { height: 18px; }
#StatusLeft input { font-size: 10px; }
/** end header **/


/** top nav **/
#TopMenu { padding: 8px; float: right; }
#TopMenu a { color: #716e69; }
#TopMenu a.current,
#SectionMenu a.current { color: #413f33; }
#TopMenu { font-weight: bold; }
#TopMenu a, #SectionTitle a, #SectionMenu a { border: none; }
/** need to change #MainMenu to a class... it's used multiple times on the page. hacked stylesheet for now **/
#TopMenu #MainMenu li,
#SectionMenu #MainMenu li { display: inline; margin-right: 10px; }
#TopMenu #MainMenu a.current,
#SectionMenu #MainMenu a.current { border-bottom: 3px solid #716e69; }
/** end hack **/
#SectionTitle, #SectionMenu { padding: 8px; font-family: Arial, Helvetica, sans-serif; }
#SectionTitle { font-size: 1.2em; color: #908360; background: #dfdcd5; }
#SectionTitle a { color: #908360; }
#SectionMenu { font-size: 0.9em; color: #716e69; background: #f0efed; }
#SectionMenu a { color: #716e69; }
/** end top nav **/


/** main wrapper **/
#Main { margin-top: 10px; }
#Main td { padding: 10px; margin: 0; }
#Main table td { padding: 2px 5px; }
/** end main wrapper **/


/** user card **/
div.contact_card { float: left; margin: 2px; padding: 3px; width: 17em; border: 1px solid #ccc; }
div.contact_card h3 { margin: 0 0 5px; font-weight: bold; background: #ff9; }
div.contact_card h3.admin { padding: 0 17px 0 0; background: #ff9 url(/images/admin_dot.gif) center right no-repeat; }
div.contact_card ul { margin-top: 10px; text-align: right; }
div.contact_card ul li { display: inline; }
div.contact_card a { color: #f00; border: none; }
/** end user card **/


/** milestone calendar **/
#milestones_calendar { margin: 10px 0; }
table.calendar th { padding: 0 15px 0 0; }
table.calendar td { border: 1px solid #fff; background-color: #ffc; }
table.calendar ul { margin: 0 5px; }
table.calendar li { font-size: .8em; }
table.calendar a { display: block; padding: 3px; border: 0; color: #00f; }
table.calendar a:hover { background-color: #ddf; }
/** end milestone calendar **/


/** milestone list **/
div.milestone_list { margin: 10px; }
/** end milestone list **/


/** project description **/
#ProjectDescription { margin: 3px 0; padding: 3px; font-size: 0.8em; border: 1px solid #000; }
/** end project description **/


/** iterations menu **/
#IterationsMenu h3 { margin: 1em 0; }
#IterationsMenu ul { margin: 1em 0 1em 1em; }
#IterationsMenu ul li { margin-bottom: .5em; }
#IterationsMenu li.show-iteration-bullet { list-style: square; }
/** end iterations menu **/


/** iteration summary **/
#IterationSummary h3 { margin: 10px 0 5px; }
#IterationSummary table { float: left; margin: 0 25px 10px 0; padding: 3px; }
/** end iteration summary **/


/** footer **/
#Footer { clear: both; text-align: center; font-size: .75em; }
/** end footer **/


/*******************************************************/
/** all the following items need to be combed through **/

/* login page */
#login a { color: black; text-decoration: none; border-bottom: 1px dotted #669933; }
#login .user { padding: 3px; color: #666; }
#login .pass { padding: 3px; color: #666; }
#login input { width: 144px; color: #666; }
#login input.btn { width: auto; }
#login { margin-top: 100px; margin-left: auto; margin-right: auto; width: 440px; height: 221px; text-align: center; background: url('/images/login_bg.gif') no-repeat; }
#login #form { position: relative; top: 80px; }
#login #SystemStatus{ position: relative; top: 120px; width: 400px; margin: auto; text-align: left; padding: 20px; }
#login #SystemError{ position: relative; top: 120px; width: 400px; margin: auto; text-align: left; padding: 20px; }
#login .btn { vertical-align: middle; padding: 3px; }
/* end login page */


#SystemError, #SystemStatus { position: relative; border-top: 1px solid #f00; border-bottom: 1px solid #f00; padding: 3px 2em; margin: 0 0 10px; color: #900; background: #fcc; }
#SystemStatus { border-top-color: #0f0; border-bottom-color: #0f0; color: #060; background: #cfc; }
#ProjectsList li { margin: 0 0 5px 10px; }

label { display: block; margin: 4px 0 1px; }

/* pagination */
.pagination ul { margin: 20px 0 0; padding: 0; text-align: center; font-size: 16px; }
.pagination li { list-style-type: none; display: inline; }
.pagination a, .pagination a:visited { border: 1px solid; font-weight: bold; padding: 0 5px; text-decoration: none; }
.pagination a:hover, .pagination a:active { border: 1px solid; }
.pagination li.currentpage { font-weight: bold; padding: 0 5px; border: 1px solid; }
.pagination li.disablepage { display:none; }
.pagination li.nextpage { font-weight: bold; }
* html .pagination li.currentpage, * html .pagination li.disablepage { margin-right: 5px; padding-right: 0; }
/* end pagination */

.column { border-right: 1px solid black; background: #fff; width:160px; }
.column h2 { padding-bottom: 5px; }
.move_to { text-align:right; padding-bottom:5px; }

/* popup */
div.small_popup { width: 235px; }
div.scroll {overflow-y:scroll;overflow-x:hidden;height:350px}
div.popup { width: 350px; }
div.wide_popup { width: 700px; }
textarea.large {width: 690px;}
div.audit, div.select_stories { width: 800px; height: 430px; overflow: auto; }
div.popup, div.small_popup, div.audit, div.wide_popup, div.select_stories { padding: 10px; background: #fff; border: 1px solid #000; }
div.popup label.inline, div.small_popup label.inline { display: inline; }
div.popup input { margin-right: 3px; }
div.popup textarea { width: 345px; }
div.popup h2 { margin-top: 5px; }
div.popup fieldset,
div.small_popup fieldset { float: left; padding-right: 10px; }
div.submit { display: block; clear: both; margin: 10px 0; text-align: center; }
div.submit input { padding: 2px; background-color: #6DAE20; color: #fff; cursor: pointer; }
a.close { float: right; }
/* popup */
