.sort-table { border: 1px Solid ThreeDShadow; }
.sort-table thead { background-color: #7DD124; font-weight: bold; }
.sort-table td { padding: 2px 5px; }
.sort-table thead td { border: 1px solid; border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight; cursor: default; }
.sort-arrow { width: 11px; height: 11px; background-position: center center; background-repeat: no-repeat; margin: 0 2px; }
.sort-arrow.descending { background-image: url("../images/downsimple.png"); }
.sort-arrow.ascending { background-image: url("../images/upsimple.png"); }
