<%= form_tag :action => 'forgot_password' do %>

<h3>Forgot Your Password?</h3>
<p>Don't worry, just enter your email address below and we will send you a new password.</p>
Email <%= text_field_tag :email %><br/>

<%= submit_tag 'Send', :class => 'button' %>

<span class="tip">* For security purposes, we cannot send you your existing password, however, by requesting a new password, you will be able to <%= link_to 'Login to your Account', login_path %> and change your password back to something more memorable.</span>

<% end %>