<div>
	<h2>System Users</h2>
	<p>This screen lists all of the user accounts that have been created.</p>
	<p>Admin accounts are marked with <%= image_tag('admin_dot.gif') %></p>
	<% if is_admin? %>
		<p><strong><%= link_to_new_user('Create New User')  %></strong></p>
	<% end %>
</div>
<div>
	<%= render :partial => @users %>
</div>