<h2> Used to login </h2>
<%= start_form_tag :action => 'authenticate' %>
<p><label for="login">Login</label><br/>
<input type="text" name="login"</p>

<p><label for="password">Password</label><br/>
<input type="password" name="password"</p>
  
  <%= submit_tag "Login" %>
<%= end_form_tag %>
