<%= form_tag(:controller => 'users', :action => 'create') %>
<% if @project %>
<input type="hidden" name="project_id" value="<%= @project.id %>" />
<% end %>
<%= render_partial('user_form', :user => @user) %>
</form>
