<div class="popup">
  <% remote_form_for :story, :url => set_numeric_priority_project_story_path(@project, @story), :method => :put do |f| %>
    <a href="javascript:void(0);" class="close" onclick="cClick();">close</a>
    <h2>Story Priority</h2>
    <label for="story_priority">Priority:</label>
    <%= f.text_field :position %>
    <div class="submit">
      <%= submit_tag "Update Position" %>
    </div>
  <% end %>
  <div id="flash_notice"></div>
</div>