<%= form_for [current_project, @story] do |f| %>
	<h2>Story Priority</h2>
	<fieldset>
		<%= f.label :position, "Priority:" %>
		<%= f.text_field :position %>
	</fieldset>
	<div class="submit">
		<%= f.submit "Update Position" %>
	</div>
<% end %>