<%= form_tag(:controller => 'stories', :action => 'create',
                   :id => @story.id, :iteration_id => @iterationid,
                   :project_id => @project.id) %>
<%= render :partial => 'story_form' %>
</form>