<%= start_form_tag(:controller => 'stories', :action => 'update',
                   :id => @story.id, :project_id => @project.id) %>
<%= render_partial('story_form', :story => @story) %>
<%= end_form_tag %>

