<%= form_tag(:controller => 'stories', :action => 'set_numeric_priority',
                   :id => @story.id, :project_id => @project.id) %>
<%= render :partial => 'edit_numeric_priority_form' %>
</form>

