<div style="width: 400px; margin: 40px auto;">
	<img src="/images/lost-file.jpg" width="400" style="border: 5px solid #fff;"/>
</div>
<div style="padding: 20px; width: 500px; margin: 0 auto; background: #fff;">
	<p>We couldn't find that page. Perhaps one of the links below will help.</p>
	<ul>
		<li><a href="/">Home/Login</a></li>
		<li><a href="/desktop/Favorites">Favorites</a></li>
		<li><a href="/help_center">Help</a></li>
	</ul>
</div>