<div style="width: 400px; margin: 40px auto;">
	<img src="/images/sad-cat.jpg" style="border: 5px solid #fff;"/>
</div>
<p style="padding: 20px; width: 500px; margin: 0 auto; background: #fff;">It appears something bad has happened. No need to panic, we've been notified.</p>