<h3>Summary</h3>
<ul style="float: left; width: 50%;">
	<li><strong>Length</strong> <%= @iteration.length %> days</li>
	<li><strong>Velocity</strong> <%= @iteration.budget %> points</li>
	<% if @iteration.stop_date + 1 > Date.today %>
	<li><strong>Planned</strong> <%#= @iteration.stories.points_total %> points</li>
	<li><strong>Available</strong> <%= @iteration.available_resources %> points</li>
	<% end %>
</ul>
<% if @iteration.start_date <= Date.today %>
<ul style="float: left;">
	<li><strong>Completed</strong> <%#= @iteration.stories.points_completed %> points</li>
	<% if (@iteration.stop_date + 1) > Date.today %>
	<li><strong>Remaining</strong> <%#= @iteration.stories.points_remaining %> points</li>
	<li><strong>Time Remaining</strong> <%= distance_of_time_in_words(Time.now, Time.parse((@iteration.stop_date + 1).to_s)) %></li>
	<% end %>
</ul>
<% end %>