<!-- BEGIN iterations/index.rhtml -->
<p>This project does not have any iterations yet.</p>
<p><%= link_to 'Create New Iteration', :controller => 'iterations',
  :action => 'new', :project_id => @project.id %></p>
<!-- END iterations/index.rhtml -->