<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Untitled Document</title>
	</head>
	<body>
		<p><%=@username%>,</p>
    <p>
	    Your new password is <%=@password%>.  You will not be able to use this new
	    password until you confirm the password reset by clicking the link below.
	    <br /><br />
	    <a href="<%=@password_reset_link%>">Confirm Your Password Reset</a>
	    <br />
    </p>
    Thanks,<br />
    eXPlainPMT<br />
	</body>
</html>
