<!-- BEGIN releases/new.rhtml -->
<%= form_tag(:controller => 'releases', :action => 'create',
                   :project_id => @project.id) %>
<%= render :partial => 'release_form' %>
</form>
<!-- END releases/new.rhtml -->