<h1>New Release</h1>

<%= start_form_tag :action => 'create', :project_id => @project.id %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list', :project_id => @project.id %>
