<% hide_cols ||= [] %>
<table class="sort-table" width="100%" id="acceptance-table" cellspacing="0" cellpadding="0" border="0">
	<thead>
		<tr>
			<td>Test Name</td>
			<%= column_content_for(hide_cols, :story) do %><td>Story</td><% end %>
			<%= column_content_for(hide_cols, :iteration) do %><td>Iteration</td><% end %>
			<td>Automated</td>
			<td>Pass</td>
			<%= column_content_for(hide_cols, :action) do %><td>Action</td><% end %>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => @acceptance_tests, :locals => { :hide_cols => hide_cols } %>
	</tbody>
</table>