<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>eXPlainPMT &raquo; <%= @page_title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script type="text/javascript"
      href="/javascripts/xmlhttprequest.js"></script>
    <script src="/javascripts/sortabletable.js"></script>
  </head>
  <body>
    <div id="WrapPage">
      <%= @content_for_layout %>
    </div>
  </body>
</html>
